body {
	font-family: Lato, Myriad Pro, sans-serif;
	padding: 0;
	margin: 0;
}
section.form {
	background: #f9f9f9;
	text-align: center;
}
h4.contacter {
	font-family: Myriad Pro;
	font-size: 26px;
	font-weight: lighter;
	color: #48bf72;
	padding-top: 53px;
	margin: 0 auto;
}
div.form {
	margin: 53px auto;
	width: 700px;
}
div.first {
	display:block;
}
div.second {
	float:right;
	display:block;
}
div.third {
	display:block;
	float:right;
	margin: 30px 0;	
}
input {
	background: #f1f1f1;
	border-width: 2px;
	border-color: #3c4955;
	border-radius: 3px;
	padding: 0 0 0 70px;
}
input.name{
	width: 261px;
	height: 46px;
	float: left;
	margin-right: 30px;
}
i.user{
	width: 50px;
	height: 50px;
	background: url('../images/css_sprites.png') -312px -88px;
	background-color: #3c4955;
	position: absolute;
	display: block;
	border-radius: 3px 0 0 3px;
}
input.email{
	width: 261px;
	height: 46px;
	float: right;
}
i.mail{
	width: 50px;
	height: 50px;
	background: url('../images/css_sprites.png') -532px -301px;
	background-color: #3c4955;
	position: absolute;
	display: block;
	border-radius: 3px 0 0 3px;
	float: left;
}
input.message{
	width: 626px;
	height: 224px;
}
i.message2{
	width: 50px;
	height: 226px;
	background: url('../images/css_sprites.png') -309px -311px;
	background-color: #3c4955;
	position:absolute;
	display: block;
	border-radius: 3px 0 0 3px;
}
input.button{
	background: #48bf72;
	border-radius: 3px;
	width: 700px;
	height: 50px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	margin-bottom: 30px;
}
div.diamond  {
	position: absolute;
	display: block;
    width: 12px;
    height: 12px;
    background: #3c4955;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 20px 0 10px 50px;
}