body {
	font-family: Times New Roman, sans-serif;
	text-align: center;
}
h3 {
	font: 16px normal;
	margin: 0;
}
table {
	margin: 0 auto;	
	border-collapse: collapse;
	width: 1170px;
}
th {
	border: 1px solid #000;	
	width: 255px;
}
td {
	border: 1px solid #000;
	border-collapse: collapse;
}
.year {
	width: 137px;
}
.neutral {
	text-align: left;
	width:
}
td.italy {
	font-weight: 500;
	color: white;
	background: #36960c;
}
tfoot {
	border-collapse: separate;
	border: 5px double #000;
	color: #0a0bfb;
}
.country .flag {
	opacity: 0;
}
.country:hover .flag{
	opacity: 1;
}
.flag {
	float: left;
	width: 17px;
	height: 13px;
}
.britain { 
	background: url('../images/flags.png') -433px -71px;
}
.germany { 
	background: url('../images/flags.png') -356px -46px;
}
.sweden { 
	background: url('../images/flags.png') -360px -208px;
	float: right;
}
.france { 
	background: url('../images/flags.png') -385px -69px;
}
.austro { 
	background: url('../images/flags.png') -264px 0px;
}
.switzerland { 
	background: url('../images/flags.png') -24px -46px;
	float: right;
}
.russian { 
	background: url('../images/flags.png') -192px -208px;
}
.turkey { 
	background: url('../images/flags.png') -24px -254px;
}
.denmark { 
	background: url('../images/flags.png') -403px -46px;
	float: right;
}
.belgium { 
	background: url('../images/flags.png') -455px 0px;
}
.netherlands { 
	background: url('../images/flags.png') -288px -139px;
	float: right;
}
.serbia { 
	background: url('../images/flags.png') -167px -208px;
}
.spain { 
	background: url('../images/flags.png') -168px -70px;
	float: right;
}
.japan { 
	background: url('../images/flags.png') -288px -115px;
}
.argentina { 
	background: url('../images/flags.png') -216px 0px;
	float: right;
}
.montenegro { 
	background: url('../images/flags.png') -433px -138px;
}
.paraguay { 
	background: url('../images/flags.png') -72px -208px;
	float: right;
}
.italy { 
	background: url('../images/flags.png') -217px -115px;
}
.bulgaria { 
	background: url('../images/flags.png') -24px -23px;
}
.norway { 
	background: url('../images/flags.png') -96px -185px;
	float: right;
}
.romania { 
	background: url('../images/flags.png') -144px 0px;
}
.albania { 
	background: url('../images/flags.png') -121px 0px;
	float: right;
}
.portugal { 
	background: url('../images/flags.png') -24px -208px;
}
.Liechtenstein { 
	background: url('../images/flags.png') -168px -140px;
	float: right;
}
.usa { 
	background: url('../images/flags.png') -216px -254px;
}
.luxembourg { 
	background: url('../images/flags.png') -288px -140px;
	float: right;
}
.greece { 
	background: url('../images/flags.png') -217px -92px;
}
.mexico { 
	background: url('../images/flags.png') -336px -162px;
	float: right;
}
